#header {
    background: #5a020Cce;
    color:white ;
}
#head {
    color:azure !important;
}
.module h2, .module caption, .inline-group h2 ,div.breadcrumbs, .selector-chosen h2 ,button {
    background: #811420ce !important;
    color :azure !important;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button
{
    background: #811420ce !important;
    color :azure !important ;
}
.button:hover, input[type=submit]:hover, input[type=button]:hover, .submit-row input:hover, a.button:hover
{
    background: #7a2f38ce !important;
}
